nav {
  height: 98px;
  width: 100%;
  background: steelblue;
  color: white;
}

.container {
  max-width: 1355px;
  padding: 0 45px;
  margin: 0 auto;
  height: inherit;
}

.navbar-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

h2 {
  font-size: 35px;
}

nav ul {
  list-style: none;
  display: flex;
  font-size: 22px;
}

nav ul li {
  padding: 15px;
  margin: 5px 20px;
  cursor: pointer;
  transition: color 0.4s;
  color: white;
}

nav ul li:hover {
  color: rgb(210, 235, 255);
  border-bottom: 1px solid white;
}

@media (max-width: 773px) {
  .container {
    padding: 0 13px;
  }
}
